body{
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(260deg,#f57e42,#f05405,#ed2f28); */

}
header{
    text-align: center;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 1.5rem;
    color: #ed1519;
    /* font-family: 'Patrick Hand', cursive; */
    font-family: 'Concert One', cursive;
    
    
    
    
    

}
.result{
    background-color: #1c35a3;
    max-width:25rem;
    min-height: 1rem;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    color:white;
    text-align: right;
    margin-top:3rem ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    
}

.numbers{
    list-style: none;
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-template-rows:3rem 3rem 3rem 3rem ;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}
.numbers li{
    margin:0px;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
    
}
.num ,.clear{
    background-color: black;
    color:white
}
.fas{
    padding:10px 20px;
    border-radius: 10px;
    pointer-events: none;

}



